.thumbnail img {
	max-height: 150px;
}

.thumbnail .description {
	color: #7f7f7f;
}

.title {
	height: 50px;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
}

.price {
	font-weight: bold;
	font-size: 16px;
}

.productLink:hover {
	text-decoration: none;
}

.btn, .label {
	margin: 2px;
}

#price {
	margin-left: 20px;
}

#productPageImage {
	max-width: 100%;
}