body {
	background-color: #eae7e3;
	font-family: 'Oswald', sans-serif;
}

.navbar-default .navbar-nav > li > a, #brand {
	color: #eae7e3; /*Change active text color here*/
	font-size: 16px;
}

#separator {
	border-left: 1px;
	border-left-color: #eae7e3;
	border-left-style: solid;
	height: 35px;
	margin-top: 7px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f1f1f1;
}

#brand {
	font-size: 24px;
}

.navbar.navbar-default {
    background-color: #9abcdd;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.badge {
	background-color: #697fa3;
}

.img-responsive, #preview, #modalPreview{
	height: 180px;
	display: block;
	margin: 5px auto 5px auto;
}

.shrink {
	margin-bottom: -40px;
}

.adminImg {
	width: 100%;
	max-height: 150px;
}

.edit:hover {
	cursor: pointer;
}

.editIcon {
	top: -40px;
	float: right;
	position: relative;
	z-index: 3;
	opacity: 0.0;
}

#categories {
	font-size: 26px
}

.title {
	min-height: 60px;
	text-align: left;
	vertical-align: middle;
	font-weight: bolder;
	color: #333333;
}

.price {
	font-weight: bold;
	font-size: 16px;
	margin-top: -3px;
	padding-bottom: 7px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #9ABCDD;
}

.addToCart {
	margin-top: -10px;
	margin-bottom: 10px;
	color: #ffffff; 
	background-color: #9ABCDD; 
	border: 0;
}

.addToCart:hover,
.addToCart:focus, 
.addToCart.active { 
  color: #ffffff; 
  background-color: #697fa3; 
  border: 0;
} 

.productLink:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
}

.btn, .label {
	margin: 2px;
}

#price {
	margin-left: 20px;
}

#productPageImage {
	max-width: 100%;
}

.item {
	width: 30%;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 2px;
	border-color: #fefefe;
	border-width: 1px;
	border-style: solid;
	background-color: white;
	margin-left: 20px;
	margin-bottom: 20px;
}

#categoriesList {
	border-radius: 5px;
	border-color: #fefefe;
	border-width: 1px;
	border-style: solid;
	background-color: white;
}

#filter {
	font-size: 20px;
}

.sure {
	display: none;
	opacity: 0.0;
}

#searchTermAdmin, #searchTerm {
	margin-bottom: 10px;
}

#searchTerm {
	width: 300px;
	margin-right: -65px;
	float: right;
}

@media only screen and (max-width : 992px) {
	.item {
		width: 100%;
	}
	.thumbnail img {
		max-height: 300px;
	}
	.title {
		font-size: 20px;
		height: 70px;
	}
	#searchTerm {
		width: 100%;
		margin: 0px;
		float: none;
	}
	#separator {
		border-bottom: 1px;
		border-bottom-color: #eae7e3;
		border-bottom-style: solid;
		border-left: 0;
	}
	.item {
		margin-left: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}